<div class="products-info">
  <div class="products-info-left">
    <div>
      <a href="{{ section.settings.products-info-url-1 }}"><img src="{{ section.settings.products-info-image-1 | img_url: 'master' }}" alt="ストア情報"></a>
    </div>
    <div>
      <a href="{{ section.settings.products-info-url-2 }}"><img src="{{ section.settings.products-info-image-2 | img_url: '50%x50%' }}" alt="ストア情報"></a>
    </div>
    <div>
      <a href="{{ section.settings.products-info-url-3 }}"><img src="{{ section.settings.products-info-image-3 | img_url: '50%x50%' }}" alt="ストア情報"></a>
    </div>
  </div>
  <div class="products-info-right">
    <div>
      <a href="{{ section.settings.products-info-url-4 }}"><img src="{{ section.settings.products-info-image-4 | img_url: '50%x50%' }}" alt="ストア情報"></a>
    </div>
    <div>
      <a href="{{ section.settings.products-info-url-5 }}"><img src="{{ section.settings.products-info-image-5 | img_url: '50%x50%' }}" alt="ストア情報"></a>
    </div>
    <div>
      <a href="{{ section.settings.products-info-url-6 }}"><img src="{{ section.settings.products-info-image-6 | img_url: '50%x50%' }}" alt="ストア情報"></a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "products info",
    "settings": [
      {
        "type": "url",
        "id": "products-info-url-1",
        "label": "左側（上）url"
      },
      {
        "type": "image_picker",
        "id": "products-info-image-1",
        "label": "左側（上）image"
      },
      {
        "type": "url",
        "id": "products-info-url-2",
        "label": "左側（中）"
      },
      {
        "type": "image_picker",
        "id": "products-info-image-2",
        "label": "左側（中）image"
      },
      {
        "type": "url",
        "id": "products-info-url-3",
        "label": "左側（下）"
      },
      {
        "type": "image_picker",
        "id": "products-info-image-3",
        "label": "左側（下）image"
      },
      {
        "type": "url",
        "id": "products-info-url-4",
        "label": "右側（上）"
      },
      {
        "type": "image_picker",
        "id": "products-info-image-4",
        "label": "右側（上）image"
      },
      {
        "type": "url",
        "id": "products-info-url-5",
        "label": "右側（中）"
      },
      {
        "type": "image_picker",
        "id": "products-info-image-5",
        "label": "右側（中）image"
      },
      {
        "type": "url",
        "id": "products-info-url-6",
        "label": "右側（下）"
      },
      {
        "type": "image_picker",
        "id": "products-info-image-6",
        "label": "右側（下）image"
      }
    ],

    "presets": [
      {
        "name": "products info",
        "category": "products info"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  @media screen and (min-width: 750px) {
    .products-info {
      margin-top:80px;
      margin: 0 auto;
      width:65%;
      height: auto;
      display:flex;
      justify-content: space-between;
    }
    .products-info-left {
      margin-right: 20px;
    /*   display:flex; */
    /*   flex-direction:colum; */
    }
    .products-info-right {
    /*   display:flex; */
    /*   flex-direction:colum; */
    }
  }
  @media screen and (max-width: 749px) {
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}